# Default ignored files
/shelf/
/workspace.xml
/digilinq-account-service/target
/digilinq-api-gateway-service/target
/digilinq-billing-service/target
/digilinq-catalog-service/target
/digilinq-commons/target
/digilinq-eureka-discovery-service/target
/digilinq-feign/target
/digilinq-order-service/target
/digilinq-payment-service/target


/digilinq-account-service/Logs
/digilinq-api-gateway-service/Logs
/digilinq-billing-service/Logs
/digilinq-catalog-service/Logs
/digilinq-commons/Logs
/digilinq-eureka-discovery-service/Logs
/digilinq-feign/Logs
/digilinq-order-service/Logs
/digilinq-payment-service/Logs

/Logs

/.idea

